<!DOCTYPE html>
<html>
<head>
	<title>Justin Silvestre - Web Developer</title>

	<%- include sitewide %>
	<script src="index.js"></script>
	<% sketchbook = {
	chair: "/gallery/chair.jpg",
	kusama: "http://38.media.tumblr.com/eebe6d74bd9ad18adea1ef71147536b9/tumblr_inline_n403lx9bQ61rf8kqg.jpg",
	peach: "/gallery/peach.jpg",
	pier: "http://justinsilvestresketchbook.weebly.com/uploads/1/7/1/6/17166696/2530596_orig.jpg",
	donut: "/gallery/donut.jpg",
	prospect1: "http://38.media.tumblr.com/75d0e9dae10e48674b2e4063fad62fa6/tumblr_inline_ml53vwzCIh1qz4rgp.jpg",
	prospect2: "http://33.media.tumblr.com/96d2ddb5d5d2d7e2c330c9c23f645344/tumblr_inline_ml53w3uKyR1qz4rgp.jpg",
	prospect3: "http://38.media.tumblr.com/f5f52ec689dd8cb87912b498bc34ab0f/tumblr_inline_ml53v1DrVz1qz4rgp.jpg",
	westvillage: "http://33.media.tumblr.com/2e95ed65925e705b6b7e9bc22f6ae82f/tumblr_inline_n403kgNuT51rf8kqg.jpg",
	harlem: "http://justinsilvestresketchbook.weebly.com/uploads/1/7/1/6/17166696/3659048_orig.jpg",
	self: "/gallery/self.jpg"
} %>
<% web =  {
	sgscreenshotcomposite: "/gallery/sgscreenshotcomposite.jpg",
	jancarrittscreenshotcomposite: "/gallery/jancarrittscreenshotcomposite.jpg",
} %>

</head>

<body id="home" class="stop-transitions">

<div id="main-content">
	<div id="bg1" class="bg"></div>
	<div id="bg2" class="bg"></div>
	<div id="bg3" class="bg"></div>

	<h1><span id="my-name">Justin Silvestre</span><small>Web Developer</small></h1>

	<div id="assets">
	
		<h2 class="technical">technical skill</h2>
		
		<section class="technical details">
			<ul>
				<li>Rails, Foundation/SASS, Backbone.js</li>
				<li>Check out my <a href="http://tokipona.herokuapp.com">Toki Pona</a> translator I'm building in React.</li>
			</ul>
		</section>

		<h2 class="creative">creative eye</h2>

		<section class="creative details">
			<div id="gallery">
				<h3>web</h3>
					<% _.each(web, function(image, name) { %>
						<a href="<%- image %>"><img class="thumbnail" src="/gallery/<%- name %>thumb.jpg" alt=""></a>
					<% }); %>
				<h3>sketchbook</h3>
					<% _.each(sketchbook, function(image, name) { %>
						<a href="<%- image %>"><img class="thumbnail" src="/gallery/<%- name %>thumb.jpg" alt=""></a>
					<% }); %>
			</div>
		</section>

		<h2 class="cultural">cultural savvy</h2>

		<section class="cultural details">
			<p>Educated in English, French, and Spanish</p>
			<p>B.A. French &amp; Spanish St John's University <i>cum laude</i></p>
		</section>

	</div>

</div>

<%- include footer %>

</body>

</html>